
body {
    font-family: 'Open Sans', sans-serif;
}

.title{
  display: flex;
  justify-content: center; 
  h1 {
    color:#7CB342;
  }
}

.main-container{
    align-items: center;
    display:flex;
    height:100%;
    justify-content: center;
    width:100%;
}

.form-container{
    background: #8BC34A;
    border: 1px solid #e1e4e8;
    border-radius:6px;
    color: #FFF;
    padding:20px;
    max-width:600px;
    transition: all 350ms ease-in-out;
    width:95%;
}

.form {
    &__item {
      margin:5px 0;
    }
    &__label{
      display:block;
      margin:5px 0; 
    }
    &__field{
      padding: 5px 0;
      width:100%;
    }
}

.comparision-tiles {
  display:none;
  flex-wrap:wrap;
  max-width:900px;
  transition: all 350ms ease-in-out;
  h2 {
    text-align: center;
  }
  .tile-item{
    background:#8BC34A;
    color:#FFF;
    border-top:1px solid #e1e4e8;
    border-left:1px solid #e1e4e8;
    position: relative;
    img {
      max-width:80%;
    }
    p {
      align-items: center;
      background: rgba(0, 0, 0, 0.3);
      border: 0;
      bottom: 0;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0;
      position: absolute;
      width: 100%;
    }
    width:33%;  
  }
  
  #human-tile {
    order:4;
  }

  p {
    text-align: center;
  }
}

#form-validation {
  color:red;
}

#compare-button {
  margin-top:15px;
}